<section id="contato" class="contact section">
  <div class="container">
    <h2 class="section-title animate-slide-up">Contactez-moi</h2>
    <div class="contact-content">
      <div class="contact-info">
        <div class="contact-item animate-slide-up">
          <i class="fas fa-envelope"></i>
          <div>
            <h3>Email</h3>
            <p>mrgabrielmenezes&#64;icloud.com</p>
          </div>
        </div>
        <div class="contact-item animate-slide-up delay-1">
          <i class="fas fa-phone"></i>
          <div>
            <h3>Téléphone</h3>
            <p>+41 78 318 7609</p>
          </div>
        </div>
        <div class="contact-item animate-slide-up delay-2">
          <i class="fas fa-map-marker-alt"></i>
          <div>
            <h3>Localisation</h3>
            <p>Genève, CH</p>
          </div>
        </div>
        <div class="social-links animate-slide-up delay-3">
          <a
            href="https://github.com/GabrielMenezesSilva"
            target="_blank"
            rel="noopener noreferrer"
            class="social-link animate-pulse"
          >
            <i class="fab fa-github"></i>
          </a>
          <a
            href="https://linkedin.com/in/lucasgabrielmenezesdasilva"
            target="_blank"
            rel="noopener noreferrer"
            class="social-link animate-pulse delay-1"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <!-- <a
            href="https://twitter.com/seu-usuario"
            target="_blank"
            rel="noopener noreferrer"
            class="social-link"
          >
            <i class="fab fa-twitter"></i>
          </a> -->
        </div>
      </div>
      <form
        class="contact-form animate-slide-up delay-2"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group animate-fade-in">
          <label for="name">Nom</label>
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="formData.name"
            required
          />
        </div>
        <div class="form-group animate-fade-in delay-1">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="formData.email"
            required
          />
        </div>
        <div class="form-group animate-fade-in delay-2">
          <label for="subject">Sujet</label>
          <input
            type="text"
            id="subject"
            name="subject"
            [(ngModel)]="formData.subject"
            required
          />
        </div>
        <div class="form-group animate-fade-in delay-3">
          <label for="message">Message</label>
          <textarea
            id="message"
            name="message"
            [(ngModel)]="formData.message"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary animate-fade-in delay-4">
          Envoyer le Message
        </button>
      </form>
    </div>
  </div>
</section>
