<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section animate-fade-in">
        <h3>Gabriel Menezes</h3>
        <p>Développeur Front-End & Web Designer</p>
        <a target="_blank" href="https://drive.google.com/file/d/1lxB8U0osOieWmKNvFH18IC98YUHSn_Ch/view?usp=sharing" download class="cv-link">
          <i class="fas fa-download"></i> Télécharger mon CV
        </a>
      </div>

      <!-- <div class="footer-section animate-fade-in delay-1">
        <h4>Contact</h4>
        <p>mrgabrielmenezes&#64;icloud.com</p>
        <p>+41 78 318 7609</p>
        <p>Genève, CH</p>
      </div> -->

      <div class="footer-section animate-fade-in delay-2">
        <h4>Réseaux Sociaux</h4>
        <div class="social-links">
          <a
            href="https://github.com/GabrielMenezesSilva"
            target="_blank"
            rel="noopener noreferrer"
            class="social-link"
          >
            <i class="fab fa-github"></i>
          </a>
          <a
            href="https://linkedin.com/in/lucasgabrielmenezesdasilva"
            target="_blank"
            rel="noopener noreferrer"
            class="social-link"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom animate-fade-in delay-3">
      <p>&copy; {{ currentYear }} Gabriel Menezes. Tous droits réservés.</p>
    </div>
  </div>
</footer>
