<section class="hero">
  <video
    class="hero-background"
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    [src]="videoUrl"
    (error)="onVideoError($event)"
  >
    <source [src]="videoUrl" type="video/mp4" />
    Seu navegador não suporta o elemento de vídeo.
  </video>
  <div class="container">
    <div class="hero-content">
      <h1 class="animate-slide-up">Bonjour, je suis {{ name }}</h1>
      <h2 class="animate-slide-up delay-1">{{ title }}</h2>
      <p class="animate-slide-up delay-2">{{ description }}</p>
      <div class="hero-buttons animate-slide-up delay-3">
        <a href="#projetos" class="btn btn-primary">Voir les projets</a>
        <a href="#contato" class="btn btn-secondary">Contact</a>
        <a
          target="_blank"
          href="https://drive.google.com/file/d/1lxB8U0osOieWmKNvFH18IC98YUHSn_Ch/view?usp=sharing"
          download
          class="btn btn-outline"
        >
          <i class="fas fa-download"></i> CV
        </a>
      </div>
    </div>
    <div class="hero-image">
      <img
        [src]="imagePath"
        alt="Image de Profil"
        class="animate-scale-in delay-2"
      />
    </div>
  </div>
</section>
